# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store

# Database files
*.db
*.sqlite3

# Model files (if large, store elsewhere)
*.weights
*.onnx
*.pt

# Logs
*.log

/model
/samples